/* Font-families, color of fonts*/
/* Background color for sections and elements*/
/*-------- General Styles --------*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #f5f5f5; }

/* styles for dynamic change of placeholder's text color after form validation */
/* Chrome, Firefox, Opera, Safari 10.1+ */
.invalidValueChrome::placeholder {
  color: #ff0000;
  opacity: 1; }

/* Internet Explorer 10-11 */
.invalidValueIE10_11:-ms-input-placeholder {
  color: #ff0000; }

/* Microsoft Edge */
.invalidValueEdge::-ms-input-placeholder {
  color: #ff0000; }

/*-------- Main Header Styles --------*/
header {
  position: absolute;
  width: 100%; }
  header .container {
    width: 90%; }
    header .container .main-logo {
      display: inline-block;
      margin-left: 30px; }
      header .container .main-logo i {
        color: #ecd407;
        margin-top: 10px;
        font-size: 2rem;
        float: left;
        margin-right: 0.8rem; }
      header .container .main-logo p {
        margin-top: 5px;
        display: inline-block;
        font-size: 2rem;
        font-weight: 700; }
    header .container .header-contact {
      width: 300px;
      float: right; }
      header .container .header-contact i {
        margin-top: 10px;
        font-size: 2rem;
        float: left;
        margin-right: 0.8rem;
        transform: rotate(100deg); }
      header .container .header-contact .call {
        display: block;
        margin-top: 5px;
        font: 0.8 rem; }
      header .container .header-contact .phone {
        color: #fff;
        text-decoration: none;
        display: block;
        margin-top: 5px; }

/*-------- Section Form Styles --------*/
.formSection {
  display: flex;
  justify-content: center;
  height: 110vh;
  min-height: 800px;
  width: 100%;
  padding: 10rem 0rem;
  background-image: url("../img/background.png");
  background-size: cover;
  color: #f5f5f5; }
  .formSection .container {
    width: 90%;
    padding: 2rem 5rem 2rem 0rem; }
    .formSection .container .containerForForm {
      width: 30%;
      float: right; }

.yellowFont {
  color: #ecd407; }

form {
  padding: 1rem;
  background-color: #001d8a; }
  form input:not([type="submit"]) {
    display: block;
    height: 2.5rem;
    width: 100%;
    margin: 0.75rem 0rem;
    border-radius: 5px;
    color: #000000; }
  form textarea {
    width: 100%;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px; }
  form input[type="submit"] {
    display: block;
    height: 2.5rem;
    width: 100%;
    margin: 0.75rem 0rem;
    border-radius: 5px;
    color: #000000;
    background-color: #ecd407;
    font-weight: 700;
    border-color: #ecd407; }

/*-------- Section About Us Styles--------*/
.aboutUs {
  width: 100%;
  padding: 5rem 0rem;
  background-color: #eaecf0;
  color: #000000; }
  .aboutUs .counters {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 4rem; }
    .aboutUs .counters .experience, .aboutUs .counters .clients {
      display: inline-block;
      margin: 0 auto;
      text-align: center; }
    .aboutUs .counters p.counterCount {
      display: flex;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: #001d8a;
      color: #f5f5f5;
      font-size: 1.25rem;
      margin: 0 auto; }
    .aboutUs .counters .experienceP, .aboutUs .counters .clientsP {
      font-size: 1.5rem; }
  .aboutUs .container {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between; }
    .aboutUs .container .quotes {
      height: 100%;
      margin-top: 2rem;
      position: relative; }
    .aboutUs .container .articles {
      display: inline-block;
      width: 33%;
      padding: 0rem 2rem; }

.articles table {
  position: relative;
  width: 100%;
  line-height: 1.75rem;
  z-index: 100; }
  .articles table caption {
    caption-side: top;
    margin: 1rem 0rem; }
  .articles table .tableContents {
    visibility: hidden; }
  .articles table .tableContentsShow {
    visibility: visible; }
  .articles table td {
    border-bottom: 1px solid #808080; }

.articles h2 {
  font-size: 2rem;
  font-weight: 400; }

.articles p {
  text-align: justify;
  line-height: 1.75rem; }

.articles a {
  color: #fff;
  text-decoration: none;
  color: #007BFF; }

.spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 20px;
  left: 0; }
  .spinner .loader,
  .spinner .loader:before,
  .spinner .loader:after {
    border-radius: 50%; }
  .spinner .loader {
    color: #001d8a;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .spinner .loader:before,
  .spinner .loader:after {
    position: absolute;
    content: ''; }
  .spinner .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #eaecf0;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s; }
  .spinner .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #eaecf0;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.spinnerDispNone {
  display: none; }

/*-------- Error Handling --------*/
.backdrop {
  display: none;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  top: 15px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(22, 23, 26, 0.9);
  border-radius: 5px;
  z-index: 400; }
  .backdrop .backdropInfo, .backdrop .backdropDisplay {
    position: relative;
    top: 5%;
    padding: 0 5%;
    color: #fff;
    z-index: 500;
    text-align: center; }

.backdropVisible {
  display: block;
  justify-content: center; }

/*-------- Footer Style --------*/
footer {
  height: 10rem;
  background-color: #292929; }
  footer .container {
    width: 100%;
    display: flex;
    justify-content: center; }
    footer .container i {
      color: #ecd407; }
    footer .container .mailAndPhone {
      color: #fff;
      text-decoration: none; }
    footer .container .contact {
      padding: 2.5rem;
      width: 45%;
      display: inline-block;
      text-align: center; }

/*-------- Responsive css --------*/
@media (min-width: 1200px) {
  .container .quotes {
    max-width: 360px; } }

@media (max-width: 1200px) {
  .formSection .container .containerForForm {
    width: 300px; } }

@media (max-width: 992px) {
  .aboutUs .container {
    padding: 3rem 3rem;
    display: flex;
    flex-wrap: wrap; }
    .aboutUs .container .articles {
      width: 50%; } }

@media (max-width: 768px) {
  .formSection .container {
    float: none;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    padding: 2rem 0rem;
    justify-content: center; }
    .formSection .container .containerForForm {
      width: 70%; }
  .aboutUs .counters {
    display: block; }
    .aboutUs .counters .experience {
      margin-bottom: 5rem; }
    .aboutUs .counters .experience, .aboutUs .counters .clients {
      width: 100%; }
  .aboutUs .container {
    padding: 0rem 3rem;
    display: block; }
    .aboutUs .container .quotes {
      padding: 0rem 4rem; }
    .aboutUs .container .articles {
      width: 100%;
      padding-bottom: 2rem; } }

@media (max-width: 576px) {
  header .container .main-logo, header .container .header-contact {
    width: 90%;
    float: none;
    margin-left: 30px; }
  .formSection .container {
    width: 90%; }
    .formSection .container .containerForForm {
      width: 90%; }
  .aboutUs .container {
    padding: 0rem;
    display: flex;
    justify-content: center; }
    .aboutUs .container .quotes {
      max-width: 350px; }
    .aboutUs .container .articles {
      padding: 1rem 0rem 0rem 0rem; }
  footer .container {
    display: block;
    text-align: center; }
    footer .container .contact {
      width: 90%;
      padding: 1rem; } }
