.flex-item{
    color: #fff;
    font-family: 'Lato'; sans-serif;
    border: 1px, solid olive;
    margin: 3px;
    background-color: green;
    flex-basis: 15%;
}

.flex-item:nth-last-of-type(odd){
    background-color:sandybrown;
    flex-basis: 20%;
}

.container{
    border: 5px, dashed blue;
    display: flex;
}