body{
    background-color: black;
    color: white;
    font-size: 10px;
}

.odliczanie{
    position: relative;
    height: 50vh;
    width: 50vw;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 10em;
    font-weight: 200;
}


.liczba{
    height: 50vh;
    width: 50vw;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 100px;
    position: absolute;
}

#ten, #nine, #eight, #seven, #six, #five, #four, #three, #two, #one, #text{
    opacity:0;
    animation-name: countdown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#nine{
    animation-delay: 1s;
}

#eight{
    animation-delay: 2s;
}

#seven{
    animation-delay: 3s;
}

#six{
    animation-delay: 4s;
}

#five{
    animation-delay: 5s;
}

#four{
    animation-delay: 6s;
}

#three{
    animation-delay: 7s;
}

#two{
    animation-delay: 8s;
}

#one{
    animation-delay: 9s;
}

#text{
    background-image: url(../img/fire.jpg);
    background-size: cover;
    animation-delay: 10s;
}

@keyframes countdown{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}