/* Font-families, color of fonts*/

$mainFont: 'Open Sans', sans-serif;
$mainFontColor: #f5f5f5;
$sectionAboutFontColor: #000000;
$yellowIcons: #ecd407;
$colorLinksSAbout: #007BFF;
$invalidValueInput: #ff0000;

/* Background color for sections and elements*/
$backgroundColorSectionAbout: #eaecf0;
$colorCounters: #001d8a;
$formBackgroundColor: #001d8a;
$bottonSubmit: #ecd407;
$backgroundColorFooter: #292929;
$backgroundForSpinner:  rgba(234, 236, 240, 0.8);
$spinnerColor: #001d8a;
