@import 'mixins';
@import 'variables';

/*-------- General Styles --------*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $mainFont;
    color: $mainFontColor;
}

/* styles for dynamic change of placeholder's text color after form validation */

/* Chrome, Firefox, Opera, Safari 10.1+ */
.invalidValueChrome::placeholder{
    color: $invalidValueInput;
    opacity: 1;
}

/* Internet Explorer 10-11 */
.invalidValueIE10_11:-ms-input-placeholder{
    color: $invalidValueInput;
}

/* Microsoft Edge */
.invalidValueEdge::-ms-input-placeholder{
    color: $invalidValueInput;
}

/*-------- Main Header Styles --------*/

header{
    position: absolute;
    width: 100%;

    .container{   
        width: 90%;  
        .main-logo{
            display: inline-block;
            margin-left: 30px;

            i{  
                color: $yellowIcons;
               @include icons-header;
            }

            p{
                margin-top: 5px;
                display: inline-block;
                font-size: 2rem;
                font-weight: 700;
            }
        }

        .header-contact{
            width: 300px;
            float: right;
            i{
                @include icons-header;
                transform: rotate(100deg);
            }
            .call{
                display: block;
                margin-top: 5px; 
                font: 0.8 rem;
            }
            .phone{
                @include colorAndTextLinks;
                display: block;
                margin-top: 5px 
            }
        }
    }
}

/*-------- Section Form Styles --------*/

.formSection{
    display: flex;
    justify-content: center;
    height: 110vh;
    min-height: 800px;
    width: 100%;
    padding: 10rem 0rem;
    background-image: url('../img/background.png');
    background-size: cover;
    color: $mainFontColor;

    .container{
        width: 90%;
        padding: 2rem 5rem 2rem 0rem;

        .containerForForm{
            width: 30%;
            float: right; 
        }
    }
}

.yellowFont{
    color: $yellowIcons;
}

form{
    padding: 1rem;
    background-color: $formBackgroundColor;

    input:not([type="submit"]){
        @include stylesForInputs;
    }

    textarea{
        @include styleForTextArea;
    }

    input[type="submit"]{
        @include stylesForInputs;
        background-color: $bottonSubmit;
        font-weight: 700;
        border-color: $bottonSubmit;
        
    }
}

/*-------- Section About Us Styles--------*/

.aboutUs{
    width: 100%;
    padding: 5rem 0rem;
    background-color: $backgroundColorSectionAbout;
    color: $sectionAboutFontColor;

    .counters{
        width: 90%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 4rem;

        .experience, .clients{
            display: inline-block;
            margin: 0 auto;
            text-align: center;
        }

        p.counterCount{
            @include paragraphWithCounter;
            margin: 0 auto;
        }

        .experienceP, .clientsP{
            font-size: 1.5rem;
        }
    }

    .container{
        width: 90%;
        margin: 0 auto;
        padding: 3rem 0rem;
        display: flex;
        justify-content: space-between;

        .quotes{
            margin-top: 2rem;
        }
        .articles{
            display: inline-block;
            width: 33%;
            padding: 0rem 2rem;
        }
    }
}

.articles{
    table{
        width: 100%;
        line-height: 1.75rem;

        caption{
            caption-side: top;
            margin: 1rem 0rem;
        }

        td{
            @include tableData;
                
        }
       
    }
    
    h2{
        font-size: 2rem;
        font-weight: 400;
    }

    p{
        text-align: justify;
        line-height: 1.75rem;
    }

    a{
        @include colorAndTextLinks;
        color: $colorLinksSAbout;
    }
}

/*-------- Footer Style --------*/

footer{
    height: 10rem;
    background-color: $backgroundColorFooter;
   
    .container{
        width: 100%;
        display: flex;
        justify-content: center;

        i{
            color: $yellowIcons;
        }

        .mailAndPhone{
            @include colorAndTextLinks;
        }
     
        .contact{
            padding: 2.5rem;
            width: 45%;
            display: inline-block;
            text-align: center;
        }
    }    
}

/*-------- Responsive css --------*/

@media(min-width: 1200px){

    .container{
        .quotes{
            max-width: 360px;
        }
    }
}

@media(max-width: 1200px){
    .formSection{ 
        .container{
            .containerForForm{
                width: 300px;
            }
        }
    }

}

@media(max-width: 992px){
      .aboutUs{
        .container{
            padding: 3rem 3rem;
            display: flex;
            flex-wrap: wrap;
            .articles{
                width: 50%;
                
            }
        }
    }
}

@media(max-width: 768px){
    
    .formSection{
        .container{
           float: none;
           margin: 0 auto;
           margin-bottom: 3rem; 
           display: flex;
           padding: 2rem 0rem;
           justify-content: center;
           .containerForForm{
               width: 70%;
           }
        }
    }

    .aboutUs{
        .counters{
            display: block;

            .experience{
                margin-bottom: 5rem;;
            }
            .experience, .clients{
                width: 100%;
            }
        }

        .container{
            padding: 0rem 3rem;
            display: block;

            .quotes{
                padding: 0rem 4rem;
            }

            .articles{
                width: 100%;
                padding-bottom: 2rem; 
            }
        }
    }
    
}

@media(max-width: 576px){
    header{
        .container{
            .main-logo,.header-contact{
                width: 90%;
                float: none;
                margin-left: 30px;
            }
        }
    }

    .formSection{
       .container{
           width: 90%;

           .containerForForm{
               width: 90%;
           }
       }
    }

    .aboutUs{
        .container{
            padding: 0rem;
            display: flex;
            justify-content: center;
            .quotes{
                max-width: 350px;
            }
            .articles{
                padding: 1rem 0rem 0rem 0rem;
            }
        }
    }

    footer{
        .container{
            display: block;
            text-align: center;
            .contact{
                width: 90%;
                padding: 1rem;
            }
        }
    }
}
