body {
  padding: 2em; 
  text-transform: uppercase;
  color: white;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: 300;
    text-align: center;
    justify-content: space-around;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: red;
  }
  
  .footer {
    background: purple;
  }
  
  .main {
    text-align: center;
    background: deepskyblue;
  }
  
  .aside-left {
    background: green;
  }
  
  .aside-right {
    background: pink;
  }
  
  @media screen and (min-width: 993px){
    .main{ flex: 2 0px}
    .aside{ flex: 1 auto;}
    .aside-left{order: 1;}
    .main{ order:2;}
    .aside-right{ order: 3;}
    .footer {order: 4;}
  }
  
@media (min-width: 768px) and (max-width: 992px){
  .main {flex: 2 0px;}
  .aside-right{flex: 1 auto;}
  .main {order: 1;}
  .aside-right{order: 2;}
  .aside-left{order: 3;}
  .footer {order: 4;} 
}
  
  
  