#background-img{
    background-color: violet;
    background-image: url('../img/straw.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}