body{
    font-family: 'Open Sans', sans-serif;
}

/* styles for dynamic change of placeholder's text color after form validation */

/* Chrome, Firefox, Opera, Safari 10.1+ */
.invalidValueChrome::placeholder{
    color: #ff0000;
    opacity: 1;
}

/* Internet Explorer 10-11 */
.invalidValueIE10_11:-ms-input-placeholder{
    color: #ff0000;
}

/* Microsoft Edge */
.invalidValueEdge::-ms-input-placeholder{
    color: #ff0000;
}

/*-------- Section Form --------*/

.form{
    background-image: url('../img/background.png');
    background-size: cover;
}

.form a:hover{
    text-decoration: none;
}

.brandName{
    color: #ecd407;
    font-size: calc(100% + 0.75vh + 0.75vw);
    font-weight: 700;
}

.contactUs{
    font-weight: 100;
}

.whiteFont{
    color: #fff;
}
.iconTel{
    color: #fff;
    font-size: calc(100% + 0.75vh + 0.75vw);
}

.callToUs{
    font-size: calc(10% + 0.75vh + 0.75vw);
}

.divWithForm{
    padding: 10em 0em;
}

.divWithForm p{
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    
}

.yellowFont{
    color: #ecd407; 
}

form{
    background-color: #001d8a;
}

form input[type="submit"]{
    color: #000000;
    background-color: #ecd407;
    border: #ecd407;
    font-weight: 700;
}


/*-------- Section About Us --------*/


.aboutUs{
    background-color: #eaecf0;
}

.counter-count{
    font-size: 1.2em;
    background-color: #001d8a;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    line-height: 4.5em;
    width: 4.5em;
    height: 4.5em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.experience-p,.clients-p{
    font-size: 1.5em;
    color: #000000;
    line-height: 2em;
}

caption{
    caption-side: top;
}

table{
    height: 100%;
    width: 100%;
    z-index: 200;
}

.quotes tr{
    border-bottom: 1px solid #16171a;
}

.quotes td{
    font-size: 1em;
}

.rowQuotesAndArticles{
    margin: 4.5em 0em;
}

/*-------- Preloader --------*/

.preloader{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: rgba(234, 236, 240, 0.8);
    z-index: 300;
  }

  .dots{
    height: 20px;
    width: 20px;
    margin: 10px;
    background-color: #13326c;
    border-radius: 50%;
    animation-name: preloader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translateY(50px);
  }

  .preloaderDispNone{
    display: none;
  }
  
  .dots:nth-child(1){
    animation-delay: 0.1s
  }
  .dots:nth-child(2){
    animation-delay: 0.2s;
  }
  .dots:nth-child(3){
    animation-delay: 0.3s;
  }
  .dots:nth-child(4){
    animation-delay: 0.4s;
  }
  
  @keyframes preloader{
    0%{
      transform: translateY(50px);
      background-color: #13326c;
    }

    50%{
      transform: translateY(-50px);
      background-color: #ff7900;
    }
    100%{
      transform: translateY(50px);
      background-color: #13326c;
    }
  }

/*-------- Error Handling --------*/


.backdrop{
    display: none;
    position: absolute;
    vertical-align: middle;
    top: 15px;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: rgba(22, 23, 26, 0.99);
    text-align: center; 
    border-radius: 5px;
    z-index: 400;
} 

.backdropInfo, .backdropDisplay{
    position: relative;
    top: 30%;
    color: #fff;
    z-index: 500;
}

.backdropVisible{
    display: block;  
}

/*-------- Footer --------*/


footer{
    background-color: #292929;
    color: #fff;
}

.mailAndPhone{
    text-decoration: none;
    color: #fff;
}

