form{
    background-color: #213b50;
    padding: 20px;
    color: #fff;
    width: 600px;
}

form input, form select{
    margin-bottom: 10px;
}

form label {
    display: block;
}

form label[for='agreement']{
    display: inline;
}

form select, form input, form textarea{
    width: 300px;
    background-color: #2b4a64;
    color: #fff;
    border:  #2b4a64 1px solid;
    height: 25px;
}

form select:focus, form input:focus, form textarea:focus{
    background-color: #4e708c;
    border:#fff 1px solid;
    outline: none;
}

form input[type='submit']{
    background-color: green;
    border: none;
    color:#fff;
    padding: 10px 20px;
}