.flex-item{
    color: #fff;
    font-family: 'Lato'; sans-serif;
    border: 1px, solid olive;
    margin: 3px;
    background-color: green;
    flex-basis: 13%;
}

.flex-item:nth-last-of-type(odd){
    background-color:sandybrown;
    
}

.container{
    border: 5px dashed blue;
    display: flex;
    justify-content: space-evenly;
}