[title] {
    color: pink;
}

[title='About me']{
    background-color: blue;
}

/* atrybut musi mieć całe słowo */

[title~='Container']{
    background-color: indigo;
    text-decoration: none;
}

/* wyszukuje ciąg znaków */

[title*='ll']{
    background-color: khaki;
}

/* wuszukuje pierwsze słowo */
/* '^' pierwsze słowo;  '$' ostatnie słowo */

[title^='More']{
    background-color: mediumslateblue;
}

[title$='portfolio']{
    background-color: mediumvioletred;
}

/* atrybuty-wszystko co w html podświetlone na jasno niebiesko np. -href, tile */